
.body {
}
.intro {
  background-image: url(images/background/h_img.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 17%;
  font-family: serif;
  padding-bottom: 10%;
  box-sizing: border-box;
}

.container-about-us {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
  font-family: serif;
}
.services {
  background-image: url(images/background/s_image.jpg);
  text-align: center;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: serif;
  font-size: 18px;
}

.container-contact {
  background-image: url(images/background/c_image.jpg);
  text-align: center;
}

#design .title, #development .title, #product .title {
  font-size: 20px;
  font-weight: 500;
  font-weight: 600;
}

#overlay, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8 {
  display: none;
}

button{
  padding-bottom: 30px;
  margin-bottom: 20px;
}






@media only screen and (min-width: 825px) {
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:30%; 
  }
  .col-md-3 img{
    width: 400px;
    margin: 20px;
  }
  #portfolio{
    margin-left:10%;
    margin-right: 10%; 
  }
}
@media only screen and (min-width: 625px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
}